* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
}

.container  {
    max-width: 1150px;
    margin: auto;
    width: 90%;
}

/* 

Header

*/

.img-itself {
    width: 114px;
    cursor: pointer;
}

.img-container {
    padding-top: .7rem ;
}

.hubspot-header {
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    width: 75%;

}

.header-list {
    display: flex;
    list-style: none;
    
}

.list-items {
    border: solid #ff5100 2px;
    padding: .7rem .7rem;
    margin: .5rem;
    border-radius: 8px;
    cursor: pointer;
}

.list-background-get-started {
    background-color: #ff5100;
    border: none;
    
}

.list-background-get-started:hover {
    background-color: #a73500;
    
}

.list-background:hover {
    background-color: #ffb18d;
}

.list-background-demo:hover {   
    background-color: #ffcab2;
}

.list-items-link {
    padding:  .4rem;
    text-decoration: none;
}

.get-started-header {
    color: white;
}

.get-demo-header {
    color: #ff5100;
    font-size: 17px;
    font-weight: 500;
}