* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}

/* 

Header

*/

.img-itself {
  width: 114px;
  cursor: pointer;
}

.img-container {
  padding-top: 0.7rem;
}

.hubspot-header {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  width: 100%;
}

.header-list {
  display: flex;
  list-style: none;
}

.list-items {
  border: solid #ff5100 2px;
  padding: 0.7rem 0.7rem;
  margin: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
}

.list-background-get-started {
  background-color: #ff5100;
  border: none;
}

.list-background-get-started:hover {
  background-color: #a73500;
}

.list-background:hover {
  background-color: #ffb18d;
}

.list-background-demo:hover {
  background-color: #ffcab2;
}

.list-items-link {
  padding: 0.4rem;
  text-decoration: none;
}

.get-started-header {
  color: white;
  font-weight: 500;
  font-size: 17px;
}

.get-demo-header {
  color: #ff5100;
  font-size: 17px;
  font-weight: 500;
}

/* 

Header Media Queries


*/
@media screen and (max-width: 700px) {
  .hubspot-header {
    flex-direction: column;
  }

  .img-container {
    text-align: center;
    margin-bottom: 1rem;
  }

  .header-list {
    margin: auto;
  }
}

/* 

showcase

*/

.showcase-container {
  background-color: #ffe4d4;
  width: 100%;
  height: 600px;
}

.showcase-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}

.showcase-header {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.subheading-header {
  line-height: 1.7;
  margin-bottom: 1rem;
}

.cta-text {
  font-size: 12px;
  margin-top: 1rem;
}

.image-itself-header {
  width: 600px;
}

/* 

Media Queries Showcase


*/

@media screen and (max-width: 1047px) {
  .showcase-container {
    height: 650px;
  }
  .image-itself-header {
    width: 400px;
  }
}

@media screen and (max-width: 883px) {
  .image-itself-header {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .showcase-header-list {
    flex-direction: column;
    text-align: center;
  }

  .showcase-container {
    background-color: #ffe4d4;
    width: 100%;
    height: 700px;
  }
}

/* 

logo section

*/

.logo-section {
  width: 100%;
  margin: 4rem auto;
}

.logo-text {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-itself {
  width: 200px;
  padding-left: 4rem;
}

/* 

Logo section Media Queries

*/

@media screen and (max-width: 743px) {
  .img-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .image-itself {
  width: 80%;
  padding: 0;
  
}
}

/* 

desktop features section

*/

.desktop-features {
  background-color: rgb(216, 245, 255);
  width: 100%;
  height: 1400px;
}




.content-container {
  display: grid;
  grid-template-columns: repeat(2,3fr);
  padding-top: 2rem;
  column-gap: 2rem;
}

.features-img {
  width: 600px;
  margin-bottom: 3rem;
}

.text-feature-header {
  margin: 1rem 0;
}

.text-feature-description {
  line-height: 2.2;
}

.features-link-text {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}



.features-link {
  color: blue;
}





/* 

Media Queries desktop section

*/

@media screen and (max-width:1315px) {

  .showcase-container{
    width: 100%;
  }
  .content-container {
  display: flex;
 flex-direction: column;
 align-items: center;
}

.desktop-features {
  height: 2100px;
}

.img-container-features {
  text-align: center;
}

.features-img {
  width: 400px;
  margin-bottom: 3rem;
}


.text-feature-header {
  text-align: center;
}

.text-feature-description {
  text-align: center;
  width: 90%;

}

.features-link-text {
  text-align: center;
}


.card-container-mid {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

iframe {
 width: 90%;
 margin: auto;
}




}

/* 

Youtube section

*/

h2 {
  margin-bottom: 3rem;
}

.yt-vids {
  margin-top: 3rem;
}

.yt-video {
  margin-bottom: 4rem;
}

.vid-caption {
  margin-top: 2rem;
}


.yt-vid-container {
  display: grid;
   grid-template-columns: repeat(2,2fr);
   column-gap: 3rem;
}

/* 

footer

*/

footer {
  background-color: #1e2a37;
  width: 100%;
  height: 600px;
}


.footer-content-container {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer-text {
  width: 650px;
}

.footer-text-p {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.footer-more-info {
  margin-top: .7rem;
  line-height: 2.2;
}

.list-items-footer {
  border: solid white 2px;
  padding: .9rem 0.9rem;
  margin: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  flex-shrink: 0;
}

.list-background-get-started-footer {
  background-color: white;
  border: none;
}

.list-background-get-started-footer:hover {
  background-color: #36adb3;
}

.list-background-demo-footer:hover {
  background-color: #0bb3bc;
}


.list-items-link-footer {
  padding: 0.4rem;
  text-decoration: none;
}

.get-started-header-footer {
  color: #053b3e;
  font-weight: 500;
  font-size: 17px;
}

.get-demo-header-footer {
  color: white;
  font-size: 17px;
  font-weight: 500;
}


.footer-link {
  color: skyblue;
}

.footer-img {
  width: 350px;
}


.footer-copyright {
  text-align: center;
  color: #4d5555;
  margin-top: 3rem;
  margin-bottom: 2rem;
}





.footer-white-links {
  display: flex;
  list-style: none;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer-white-link-anchor {
  color: #d8d8d8;
}


@media screen and (max-width:726px) { 
.desktop-features {
  height: auto;
}

.yt-vid-container {
  display: grid;
   grid-template-columns: repeat(1,1fr);
   column-gap: 3rem;
}

.footer-content-container {
  flex-direction: column;
}

.footer-text {
  width: 90%;
}

.footer-img {
  width: 250px;
}

footer {
  height: auto;
}

.footer-white-links {
  flex-direction: column;
}

.footer-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}
}

@media screen and (max-width:540px) {
  .text-feature-description {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

}




